* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  h1 {
    text-align: center;
    margin: 5vh;
    font-size: 60px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    gap: 15px;
    margin-top: 10%;
  }
  
  .box {
    height: 100px;
    width: 100px;
    border: 4px solid rgb(14, 14, 14);
    border-radius: 50px;
  }
  
  .red {
    background-color: rgb(255, 25, 0);
  }
  .coral {
    background-color: coral;
  }
  .yellow {
    background-color: yellow;
  }
  .white {
    background-color: #f4eaea;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }